openapi: 3.1.0
info:
  title: Store Ecommerce API
  description: Sample OpenAPI spec for a store ecommerce context
  version: 1.0.0
servers:
  - url: https://api.store.com
    description: Store API base URL
paths:
  /catalog:
    get:
      summary: Get product catalog
      description: Gets the full catalog (all products in all categories)
      operationId: getCatalog
      responses:
        200:
          description: Response body contains the catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiCatalog"
  /products:
    get:
      summary: List products
      operationId: listProducts
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category name
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        200:
          description: List of products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiProduct"
    post:
      summary: Create product
      operationId: createProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiProduct"
      responses:
        201:
          description: Product created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiProduct"
  /products/{id}:
    get:
      summary: Get product by ID
      operationId: getProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Product details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiProduct"
        404:
          description: Product not found
    put:
      summary: Update product
      operationId: updateProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiProduct"
      responses:
        200:
          description: Updated product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiProduct"
        404:
          description: Product not found
    delete:
      summary: Delete product
      operationId: deleteProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Product deleted
        404:
          description: Product not found
  /orders:
    get:
      summary: List orders
      operationId: listOrders
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, shipped, delivered]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        200:
          description: List of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiOrder"
    post:
      summary: Create order
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiOrderRequest"
      responses:
        201:
          description: Order created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiOrder"
  /orders/{id}:
    get:
      summary: Get order by ID
      operationId: getOrder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Order details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiOrder"
        404:
          description: Order not found
  /categories:
    get:
      summary: List categories
      operationId: listCategories
      responses:
        200:
          description: List of product categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiCategory"
components:
  schemas:
    ApiProduct:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        picture:
          type: string
        sku:
          type: string
          description: Stock keeping unit
    ApiCategory:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        products:
          type: array
          items:
            $ref: "#/components/schemas/ApiProduct"
    ApiCatalog:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/ApiCategory"
    ApiOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [pending, confirmed, shipped, delivered]
        totalAmount:
          type: number
          format: double
        createdAt:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: "#/components/schemas/ApiOrderItem"
    ApiOrderItem:
      type: object
      properties:
        productId:
          type: integer
          format: int64
        quantity:
          type: integer
        unitPrice:
          type: number
          format: double
    ApiOrderRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ApiOrderItem"
